# Bot token
TOKEN=

# GROQ API key
GROQ_API_KEY=

NODE_ENV=dev # change to "prod" when deploying to production

# Firebase
FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=

# Site Scanners
URLSCAN_API_KEY=
GSB_API_KEY=
IPQUALITYSCORE_API_KEY=
